table{
    margin:auto;
    border-collapse: collapse;
}
td{
    border: 1px solid darkgray;
    width:10vh;
    height: 10vh;
}
.szegely{
    background-color:black;
    color:white;
}
th{
    background-color: black;
    color:white;
}
tbody tr:nth-child(even) td:nth-child(even){
    background-color: gray;
}
tbody tr:nth-child(odd) td:nth-child(odd){
    background-color:gray;
}
