table{
    width: 100%;
    border-collapse: collapse;
}
td, th{
    border:1px solid black;
   
}
th{
    font-variant: small-caps;
    background-color: chocolate;
}
tbody tr:nth-child(even){
    background-color: bisque;

}
tbody tr:nth-child(odd){
    background-color:lightgray;
    
}
.osszevon{
    background-color: brown;
    color:white;
}